@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #272727;
  min-height: 100vh;
  position: relative;
}

.title {
  font-family: "Press Start 2P", system-ui;
}
